@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;

}

body{
    background: url(imagens/fundo-hexagons.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;

}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 380px;
    background: url(imagens/frame-iphone12.png) no-repeat ;
}

/*#tela{
    position: relative;
    top: 100px;
    left: 22px;
}*/